/* Main container for all pages - set max width */
#container {
	margin:0 auto;
	max-width:1000px;
	width:90%;
}

/* Page header, header text, and navigation menu */
header {
	background:#2c3e50;
	color:#fff;
	h1 {
		margin:0;
		padding:0.25em;
		a, a:hover {
			color:#fff;
		}
	}
	nav {
		ul {
			background:#34495e;
			border-top:1px solid #fff;
			margin:0 auto;
			overflow:hidden;
			padding:0;
			li {
				display:inline;
				list-style:none;
				margin:0;
				padding:0;
				&:last-child a {
					border:none;
				}

				a {
					border-right:1px solid #fff;
					color:#fff;
					display:block;
					font-weight:bold;
					float:left;
					padding:0.25em 1em;
					&:hover {
						background:lighten(#34495e, 20%);
						color:#fff;
					}
				}
			}
		}
	}
}

/* The container for the content area of the page, and some
   formatting for the header and paragraph text within. */

#main {
	margin:0;
	padding:1em 0;
	h1 {
		color:#34495e;
		margin:0 0 1em 0;
	}
	p {
		overflow:hidden;
	}
}

/* Flash messages */

.flash-notice {
	background:#dfd;
	color:#0a0;
	margin-bottom:1em;
	padding:1em;
	text-align:center;
}

/* Page footer which contains back link - just give it some separation */
footer {
	border-top:1px solid #aaa;
	padding:1em;
	text-align:center;
}

/* Pretty up HTML tables */
table {
	width:100%;

	/* Default table headings at top of table - for index pages */
	&.results {
		th {
	        cursor:pointer;
	        text-decoration:underline;
		}
	}
	th {
		background:#7f8c8d;
		color:#fff;
		padding:0.25em;
		text-align:left;
		a {
		    color:#fff;
		    &:hover {
		    	color:#fff;
		    	text-decoration:underline;
		    }
		}
	}

	td {
		border-bottom:1px solid #aaa;
		padding:0.25em;
	}

	/* Alternate table headings on left side of table - for show pages */
	&.alt {
		th {
			background:#ddd;
			border-bottom:1px solid #aaa;
			color:#000;
			width:200px;
		}
	}

	/* Right align the last table cell in a row for index tables only */
	&:not(.alt) {
		td:last-child {
			text-align:right;
		}
	}
	&.results {
		td {
			text-align:left !important;
		}
	}

	td {
	    small {
	        color:#777;
	        display:block;
	    }
	}

	form {
		text-align:left;
		background:none;
		margin:0;
		padding:0;
		input[type=number] {
			display:inline;
			width:80px;
			margin-right:1em;
		}
		input[type=submit] {
			display:inline;
			font-size:13px;
			margin:0;
			padding:0.4em 1.5em;
		}
	}
}

.dataTables_length, .dataTables_filter,
.dataTables_paginate, .dataTables_info {
	display:none;
}

/* Style buttons - they share many common properties regardless of type */
.btn {
	background:#7f8c8d;
	border-radius:0.25em;
	color:#fff;
	display:inline-block;
	font-size:16px;
	font-weight:bold;
	padding:0.25em 1em;
	&:hover {
		color:#fff;
	}
	/* Only the background color changes based on button type */
	&.btn-new {
		background:#27ae60;
	}
	&.btn-edit {
		background:#e67e22;
	}
	&.btn-delete {
		background:#c0392b;
	}
	&.btn-show {
		background:#2980b9
	}
}

/* Right aling any buttons inside of page headings */
h1, h5 {
	.btn {
		float:right;
		margin-bottom:0.5em;
	}
}

/* Pretty up forms - set some default styles for input 
   types and alignment of labels */

form {
	background:#eee;
	margin-top:1em;	
	padding:1em;

	/* each field row within the form */
	div {
		padding-bottom:0.5em;
		label {
			display:inline-block;
			width:160px;
		}

		input[type=select],
		input[type=email],
		input[type=password],
		input[type=number],
		input[type=tel],
		input[type=text],
		textarea, select {
			background:#fff;
			border:1px solid #aaa;
			padding:0.25em;
			width:300px;
		}

		/* Make auto-generated error field div wrapper display as
		   inline element so it doesn't break the form layout - 
		   give each input field within it a red border */

		&.field_with_errors {
			display:inline;
			input, select, textarea {
				border:1px solid #c0392b;
			}
		}
	}

	/* Style our submit button - closely matches .button link class */
	input[type=submit] {
		appearance:none;
		-webkit-appearance:none;
		background:#2980b9;
		border:none;
		border-radius:0.25em;
		color:#fff;
		display:block;
		font-size:20px;
		font-weight:bold;
		margin:1em auto;
		padding:0.5em 1em;
		width:auto;
	}
}

/* Capitalize headings */
h1, h2, h3, h4, h5, h6, th {
	text-transform:capitalize;
}

/* The heading for the score boxes */
.score-header {
	background:#95a5a6;
	color:#fff;
	margin:1em 0 0 0;
	padding:0.25em;
	text-align:center;
}

/* The score boxes - set borders, font, etc. */
.score-row {
	background:#ecf0f1;
	overflow:hidden;
	text-align:center;
	div {
		background:#fff;
		border:1px solid #000;
		display:inline-block;
		margin:1em;
		width:100px;
		span {
			display:block;
			width:100px;
			height:50px;
			line-height:50px;
			font-size:32px;
		}
	}
}

/* Nicely format the total scores row */
.total-score {
	background:#27ae60;
	color:#fff;
	font-size:32px;
	padding:0.5em;
	text-align:center;
}

/* Pretty up form error messages */
#errors {
	background:#fff;
	border:2px solid #c0392b;
	margin:-1em -1em 2em -1em;
	h5 {
		background:#c0392b;
		color:#fff;
		font-size:16px;
		padding:0.25em;
	}
	ul {
		font-size:13px;
		margin-bottom:0;
		li {
			line-height:140%;
		}
	}
}